/node_modules
/public/hot
/public/storage
public/lu/dist
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea

node_modules
.project
.vscode
.history
.DS_Store
\.settings/
build/env.js
/lu/config/env.js
/lu/config/url.js
/lu/config/base.js
lu/vue.config.js
